.gitattributes
bin/
etc/
lib/*
!lib/catholic_cal.rb
src/calendar
# symlinks
src/calendar.computer
src/calendar.history
src/calendar.judaic

# dist
*.zip

# patching
bin/rebuild_patches.fish
*.patch

# config files
.*.yml
.vscode/
*.code-workspace
